<form [formGroup]="forget">
    <div _ngcontent-shc-c17="" class="container">
        <h2 _ngcontent-shc-c17="">please enter your verification code</h2>
        <form _ngcontent-shc-c17="" novalidate="" action="" class="ng-untouched ng-pristine ng-invalid">
            <div _ngcontent-shc-c17="" class="form-floating mb-3"><input form _ngcontent-shc-c17="" type="email"
                    id="floatingInput" placeholder="name@example.com" formcontrolname="email"
                    class="form-control ng-untouched ng-pristine ng-invalid"><label _ngcontent-shc-c17=""
                    for="floatingInput">Email </label></div><!----><button _ngcontent-shc-c17="" type="submit"
                class="btn btn-lg me-auto btn-outline-success">verify</button>



        </form>